*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}
.light_Gray{
    color: #b0aeae;
}.MuiSvgIcon-root path{
    fill: #009EF7;
}
.card .card-body{
    padding: 0px !important;
}
thead{
    background-color: lightcyan;
}
.table tr:first-child, .table th:first-child, .table td:first-child{
    padding-left: 15px !important;
}
select{
    padding: 5px 10px;
    border-radius: 25px;
    width: 180px;
    font-size: 14px;
    border-color: #009EF7;
}
.box_paid{
    color: #009EF7;
    border: 1px solid #051621;
    padding: 2px 12px;
    background-color: white;
}
select:focus-visible {
 border: none !important;
}
.card-title{
    width: 100%;
}
.card-title p{
    margin: 0 10px 0 0;
}
.card .card-header{
    padding: 0.50rem 1.50rem !important;
}
.main {
    width: 50%;
    margin: 50px auto;
}
.has-search .form-control {
    padding-left: 2.375rem !important;
    padding: 7px 0 7px 2.375rem !important;
    border-radius: 25px;
    border-color: #009EF7;
    color: #009EF7;
}
.has-search .form-control::placeholder   {
    color: #009EF7;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
    color: #009EF7;
}
.Filter{
    margin-left: 20px;
    border:  1px solid #009EF7;
    border-radius: 25px;
    padding: 5px 15px;
}
.setting{
    margin-left: 20px;
}
.plus{
    font-size: 25px;
    font-weight: 100;
    margin-right: 10px;
}
.add_order{
    display: flex ;
    align-items: center;
    padding: 0px 15px !important;
    border-radius: 25px;
}
.setting-Mobile{
    display: none;
    margin-left: 10px;
}
.MuiPaper-root {
    width: 100%;
}
.Filter_btn {
    display: flex;
    justify-content: end;
    width: 100%;
}
.Filter_btn .btn1{
    padding: 5px 15px !important;
    border-radius: 25px !important;
    border: 1px solid #b0aeae !important;
    
}
.pro_ship{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1f5fb;
    padding: 10px;
}
.icon_dot{
    background-color: white;
    border-radius: 50%;
    padding: 2px 5px;
}
.Filter_btn .btn2{
    padding: 5px 15px !important;
    border-radius: 25px !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded{
    margin: 0 !important;
}
hr{
    width: 100%;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    top: -10px !important;
    color: #009EF7 !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 0;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 6px !important;
}
.margin_bottom{
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
   .filter_search{
    margin-top: 10px;
    margin-bottom: 25px;
   }
   .setting-Mobile{
    display: block;
}
.setting{
    display: none;
}
.space_between{
    justify-content: space-between;
    width: 115%;
}
  }

  .sticky-top{
    top: 65px !important;
  }